* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
}

body {
    
}

a {
    text-decoration: none;
    color: #1105fb;

    
}

li {
    list-style: none;
}

h1{
    color: rgb(245, 127, 17);
}

h2 {
    color: rgb(49, 27, 6);
}
h3 {
    color: #999;
}

.btn {
    background: #2b0650;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #1a1616;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.side-menu .logo {
    height: 10vh;
    display: flex;
    margin: 10px auto 0px 10px;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
     text-decoration: none;
}

.side-menu li:hover {
    background: white;
    color: #f05462;
    text-decoration: none;
}





@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }

    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-employee table th:nth-child(2),
    .container .content .content-2 .recent-employee table td:nth-child(2) {
        display: none;
    }
} 